<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <header>
      <% include partials/header %>
    </header>
    <main>
      <div class="jumbotron mb-0">
        <h2><%= title %></h2>
        <p>Welcome to <%= title %>!</p>
      </div>
    </main>
  </body>
</html>
